<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ name }}</title>

    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'lab_1/css/materialize.min.css' %}"
    />
    <script src="{% static 'lab_1/js/materialize.min.js' %}"></script>
  </head>
  <body>
    <div class="container">
      <h1>Hello my name is {{ name }}</h1>
      <article>NPM: {{ npm }}</article>
      <article>I am {{ age }} years old</article>
    </div>
  </body>
</html>
